div#Contenedora { width: 100%; text-align: center; }
div#CentradaHS { margin: auto; width: 720px; text-align: left; }
div#Cabecera1 { background-color: #EEEEEE; text-align: center; padding: 4px }
div#Cabecera2 { background-color: #FFFFFF; text-align: center; padding: 4px }
div#BarraNavegacionTop { background-color: #DDDDDD; padding: 4px; height: 32px; vertical-align: middle; width: 712px }
div#Contenidos { background-color: #FFFFFF; padding-top: 20px; padding-bottom: 20px }
div#BarraNavegacionBottom { background-color: #DDDDDD; padding: 4px; height: 32px; }
div#Pie1 { background-color: #FFFFFF; text-align: center; padding: 4px }
div#Pie2 { background-color: #EEEEEE; text-align: center; padding: 4px }

div#Navegacion { float: left; padding: 4px; }
div#NumeroRevista { float: left; vertical-align: middle; padding: 8px; text-align: center; width: 220px; }
div#Banners { float: right; height: 30px; text-align: right; }

div#VolverArriba { float: right; padding: 8px; }

.cabecera { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; color: #FFFFFF}
.tituloseccion { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; color: #FFFFFF}
.piepagina { font-size:9px ; border-top: 1px #002C58; background-color: #002C58; color: #FFFFFF }
.enlacepie { color: #FFFFFF; text-decoration:none; font-size: 11px; font-family : Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
.enlacepie:hover { color: #FFFFFF; text-decoration: underline; }
.enlacepie:visited { color: #FFFFFF; text-decoration: underline; }
.texto { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; color: #000000}
.codigo{ font-family: Courier, monotype; font-size: 12px; font-style: normal; font-variant: normal; color: #000000}
.piefoto { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: italic; font-variant: normal; color: #333333}
.enlacetitulo { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; color: #FFFFFF}
.enlacetitulo:hover { color: #DDDDDD; text-decoration: none; }
.enlacetitulo:visited { color: #DDDDDD; text-decoration: none; }
.enlacetitulo:link { color: #DDDDDD; text-decoration: none; }

body { background-color: #CFCFCF; }
div#seccion { background-color: #09F9FF; width: 720px; }
