body { background-color: #cfcfcf; width: 720px; margin: 0 auto; }

/* VIEJO CSS */


.cabecera { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; color: #FFFFFF}

.tituloseccion { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; color: #FFFFFF}

.piepagina { font-size:9px ; border-top: 1px #002C58; background-color: #002C58; color: #FFFFFF }

.enlacepie { color: #FFFFFF; text-decoration:none; font-size: 11px; font-family : Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }

.enlacepie:hover { color: #FFFFFF; text-decoration: underline; }

.enlacepie:visited { color: #FFFFFF; text-decoration: underline; }

.texto { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; color: #000000}

.codigo{ font-family: Courier, monotype; font-size: 12px; font-style: normal; font-variant: normal; color: #000000}

.piefoto { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: italic; font-variant: normal; color: #333333}

.enlacetitulo { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; color: #FFFFFF}

.enlacetitulo:hover { color: #DDDDDD; text-decoration: none; }

.enlacetitulo:visited { color: #DDDDDD; text-decoration: none; }

.enlacetitulo:link { color: #DDDDDD; text-decoration: none; }

p.author, p.section { font-size: 130%; font-weight: 500; }
